#introduction {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: 768px) {
    margin-top: 180px;
  }
  .home-background {
    position: absolute;
    width: 100%;
    left: 0;
    top: -200px;
    z-index: -1;
  }

  h1 {
    color: #1e5579;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 1px;
    width: 784px;
  }

  p {
    color: #1e5579;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    width: 721px;
    text-align: center;
    margin: 2rem 0rem 4rem 0rem;
    opacity: 0.8;
  }

  .trial-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      outline: none;
      width: 170px;
      height: 60px;
      cursor: pointer;
      margin: 0rem 0.8rem;
      background-color: white;
      color: #1e5579;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 0.2px;
      border-radius: 8px;
      font-weight: 700;
    }

    .primary {
      color: white;
      background-color: #1e5579;
      font-weight: 700;
    }
  }
  .dashboard {
    margin-top: 6rem;
  }
}
