#introduction {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  @media only screen and (max-width: 768px) {
    margin-top: 180px;
  }
  .home-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0px;
    z-index: -1;
    object-fit: cover;
    @media only screen and (max-width: 1300px) {
    }
    @media only screen and (max-width: 1100px) {
    }
    @media only screen and (max-width: 768px) {
    }
    @media only screen and (max-width: 320px) {
    }
  }

  h1 {
    color: #1e5579;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 1px;
    width: 784px;
    @media only screen and (max-width: 1100px) {
      font-size: 46px;
      width: 563px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 34px;
      width: 90%;
      font-weight: 800;
      font-size: 34px;
      line-height: 46px;
      letter-spacing: 0.59px;
    }
  }

  p {
    color: #1e5579;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    width: 721px;
    text-align: center;
    margin: 2rem 0rem 4rem 0rem;
    opacity: 0.8;
    @media only screen and (max-width: 1100px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 768px) {
      width: 550px;
    }
    @media only screen and (max-width: 500px) {
      width: 80%;
    }
  }

  .trial-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      width: 90%;
    }

    button {
      border: none;
      outline: none;
      width: 170px;
      height: 60px;
      cursor: pointer;
      margin: 0rem 0.8rem;
      background-color: white;
      color: #1e5579;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 0.2px;
      border-radius: 8px;
      font-weight: 700;
      @media only screen and (max-width: 500px) {
        margin: 0.5rem 0rem;
        width: 100%;
      }
    }

    .primary {
      color: white;
      background-color: #1e5579;
      font-weight: 700;
    }
  }
  .dashboard {
    margin-top: 6rem;
    @media only screen and (max-width: 1100px) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 944px;
    @media only screen and (max-width: 1100px) {
      width: 100%;
    }
    .section-title {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.35px;
      color: #8e8c95;
      @media only screen and (max-width: 768px) {
        justify-content: center;
      }
      img {
        margin-right: 1.5rem;
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 2rem;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.8px;
        width: 421px;
        @media only screen and (max-width: 768px) {
          width: auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          letter-spacing: 0.375px;
        }
      }
      span {
        width: 384px;
        font-size: 16px;
        line-height: 26px;
        @media only screen and (max-width: 768px) {
          width: auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
    .features {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
}

#analytics {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; //TODO Responsive yapınca center yap
    @media only screen and (max-width: 1100px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .analytics-image {
      @media only screen and (max-width: 1100px) {
        margin-top: 3rem;
      }

      img {
        @media only screen and (max-width: 768px) {
          width: 90%;
        }
      }
    }

    .analytics-detail {
      @media only screen and (max-width: 1100px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      .section-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.35px;
        color: #8e8c95;
      }
      .title {
        margin-top: 1.5rem;
        @media only screen and (max-width: 1100px) {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        h2 {
          width: 530px;
          font-weight: bold;
          font-size: 48px;
          line-height: 58px;
          letter-spacing: 0.8px;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
        div {
          width: 410px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.27px;
          color: #3b3a40;
          margin-top: 1rem;
          @media only screen and (max-width: 1100px) {
            width: 75%;
            margin-top: 2rem;
          }
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .props {
        @media only screen and (max-width: 1100px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 75%;
          margin-top: 2rem;
        }
        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }
        .prop {
          margin-top: 1rem;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          @media only screen and (max-width: 1100px) {
            width: 50%;
          }
          @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
          }
          .prop-icon {
            margin-right: 0.5rem;
          }
          .prop-details {
            @media only screen and (max-width: 768px) {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              margin-top: 1rem;
            }
            div {
              width: 240px;
              margin-top: 0.5rem;
              font-size: 16px;
              line-height: 26px;
              letter-spacing: 0.2px;
              color: #64626a;
              @media only screen and (max-width: 768px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
