* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        font-family: 'Aileron', 'sans-serif';

        main {
            padding: 0 151px;
            transition: all .2s ease-out;

            .home-background {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
        ul {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}

