header {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;

  .hamburger {
      svg {
          font-size: 2.5rem;
      }
  }

  .logo {
    img {
      width: 122px;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        a {
          display: block;
          padding: 0.5rem 24px;
        }
      }
    }
  }
}
